.contact__title, .gallery__title, .news__title, .projects__name, .projects__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
}

.contact__button, .gallery__button, .projects__button {
  border: 1px solid #2C4058;
}

.slick-next, .slick-prev {
  border: 1px solid #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
}

.header {
  position: absolute;
  z-index: 1;
}
.header__nav {
  margin-top: 53px;
  display: flex;
  align-items: center;
  margin-left: 215px;
}
.header__list {
  margin-left: 144px;
  display: flex;
  gap: 70px;
}
.header__link {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 14px;
}
.header__social {
  margin-left: 110px;
  display: flex;
  gap: 20px;
}
.header__click {
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
}
.header__network-link {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__network-link svg {
  fill: #FFFFFF;
}
.header__network-link:hover {
  background-color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.header__network-link:hover svg {
  fill: #7E5AFF;
}

main {
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.main-header {
  padding: 330px 340px 50px 340px;
  background: url(../images/png/tu-tram-pham-202263\ 1.png) no-repeat, linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-size: 100%;
  margin-bottom: 100px;
}
.main-header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-header__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}
.main-header__decription {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 240px;
}
.main-header__link {
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.main-header__link:hover {
  background-color: #745cc9;
}

.header__item:hover span {
  background: #FFFFFF;
}

.projects__line {
  width: 100px;
  height: 0px;
  margin: 0px auto;
  margin-bottom: 30px;
  border: 1px solid #2C4058;
}
.projects__title {
  color: #2C4058;
  margin-bottom: 90px;
}
.projects__one {
  display: flex;
  position: relative;
  gap: 330px;
  margin-bottom: 146px;
}
.projects__block {
  min-width: 585px;
  height: 470px;
}
.projects .blue-block {
  background: #55B7FF;
}
.projects__text {
  margin-top: 151px;
}
.projects__img-1 {
  position: absolute;
  left: 215px;
  top: 57px;
}
.projects__recognition {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.projects__name {
  color: #2C4058;
  text-align: start;
  margin-bottom: 19px;
}
.projects__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 35px;
  max-width: 470px;
}
.projects__button {
  background: none;
  padding: 16px 41px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  margin-bottom: 60px;
  transition: all 0.5s ease-in-out;
}
.projects__button:hover {
  background-color: #745cc9;
  color: #FFFFFF;
}
.projects__adress {
  display: flex;
  gap: 10px;
  align-items: center;
}
.projects__link {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.projects__two {
  display: flex;
  gap: 324px;
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 176px;
}
.projects .purple-block {
  background: #7E5AFF;
}
.projects__img-2 {
  position: absolute;
  height: 470px;
  right: 215px;
  top: 57px;
}

.news {
  background: url(../images/png/city\ 2\ @2x\ 1.png) bottom no-repeat, linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  padding-top: 120px;
  padding-bottom: 170px;
  margin-bottom: 150px;
}
.news__line {
  width: 100px;
  height: 0px;
  border: 1px solid #FFFFFF;
  margin: 0px auto;
  margin-bottom: 30px;
}
.news__title {
  color: #FFFFFF;
  margin-bottom: 90px;
}
.news__list {
  margin: 0 215px;
}
.news__img {
  margin: 0;
  margin-bottom: 30px;
}
.news__performance {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin: 0px 20px;
  margin-bottom: 15px;
}
.news__decription {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  margin: 0px 20px;
  margin-bottom: 39px;
}
.news__profile {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0px 20px;
  margin-bottom: 30px;
}
.news__avatar {
  border-radius: 50%;
}
.news__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
  margin-bottom: 6px;
}
.news__data {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.gallery {
  margin-bottom: 150px;
}
.gallery__line {
  width: 100px;
  height: 0px;
  margin: 0px auto;
  margin-bottom: 30px;
  border: 1px solid #2C4058;
}
.gallery__title {
  color: #2C4058;
  margin-bottom: 90px;
}
.gallery__photos {
  margin: 0 215px;
  display: grid;
  grid-gap: 10px;
  position: relative;
  margin-bottom: 60px;
}
.gallery__img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery .zoom {
  position: absolute;
  top: 50%;
  left: 255px;
  transform: translateY(-50%);
  z-index: 5;
}
.gallery__img-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.gallery__img-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.gallery__img-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-end: 3;
}
.gallery__button {
  padding: 16px 57px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: none;
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease-in-out;
}
.gallery__button:hover {
  background-color: #2C4058;
  color: #FFFFFF;
}

.contact {
  position: relative;
  margin-bottom: -3px;
}
.contact__map {
  width: 100%;
  height: 700px;
  border: 0;
  filter: grayscale(100%);
}
.contact__form {
  position: absolute;
  top: 400px;
  left: 415px;
  background-color: #FFFFFF;
  padding: 60px 60px 69px 60px;
  background-image: url(../images/png/minicity.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.contact__line {
  width: 100px;
  height: 0px;
  border: 1px solid #2C4058;
  margin: 0px auto;
  margin-bottom: 30px;
}
.contact__title {
  color: #2C4058;
  margin-bottom: 42px;
}
.contact__block {
  display: flex;
  gap: 54px;
}
.contact__information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact__links {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.contact__links a {
  color: #000000;
  text-decoration: none;
}
.contact__links:hover a {
  color: #7E5AFF;
}
.contact__interactive {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact__input {
  border: none;
  padding-bottom: 14px;
  border-bottom: 1px solid #2C4058;
}
.contact__input:active {
  color: #000000;
}
.contact__button {
  padding: 11px 34px;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-left: 170px;
  transition: all 0.5s ease-in-out;
}
.contact__button:hover {
  background-color: #E7E7E7;
}

.footer {
  background: url(../images/png/scott-webb-176434\ 2.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  padding: 206px 415px 234px 415px;
}
.footer__information {
  display: flex;
  align-items: center;
  gap: 369px;
  margin-bottom: 41px;
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__network a {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__network a svg {
  fill: #FFFFFF;
}
.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.slick-slide {
  background: #fff;
  max-width: 370px !important;
}

.slick-list {
  padding: 0 !important;
}

.slick-track {
  display: flex !important;
  gap: 30px !important;
  margin-bottom: 40px;
}

.slick-prev {
  position: absolute;
  left: -100px;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  background: none;
  background-image: url(../images/relink.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 6px;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}

.slick-next {
  position: absolute;
  right: -100px;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  background: none;
  background-image: url(../images/relink.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 6px;
  transform: rotate(270deg);
  transition: all 0.5s ease-in-out;
}

.slick-prev:hover {
  background-color: #28BEF3;
}

.slick-next:hover {
  background-color: #3987D8;
}

.slick-dots {
  display: flex;
  gap: 40px;
  margin-left: 480px;
}
.slick-dots button {
  border-radius: 50%;
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background: none;
}

.slick-active button {
  background: #fff;
}/*# sourceMappingURL=style.css.map */