%titles{
   font-family: 'Montserrat',sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 44px;
   line-height: 54px;
   text-align: center;
}

%buttonborder{
   border: 1px solid #2C4058;
}

%socialborder{
   border: 1px solid #FFFFFF;
}

%get{
   font-family: 'Montserrat',sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #000;
}